body {
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    margin: auto;
    text-align: center;

    background-color: rgb(143, 216, 192);
}

h1 {
    margin: auto;
    padding: 5%;
}

nav > ul {
    width: 100%;
    margin: 0%;
    padding: 0%;
    overflow: hidden;
    list-style-type: none;
    background-color: cadetblue;
}

nav > ul > li > a {
    float: left;
    padding: 1% 2%;
    background-color: transparent;
}

nav > ul > li > a:hover {
    background-color: rgb(81, 133, 134);
}

nav > ul > li > a {
    text-decoration: none;
    color: black;
}

section {
    clear: both;
}