body {
	text-align:  center;
}

a {
	background-color: gray;
	color: white;
	text-decoration: none;
	padding: 0px 15px 0px 15px;
}

a:hover {
	background-color: lightgray;
}

nav {
	background-color: gray;
	height: fit-content;
	padding: 10px;
}