body {
    margin: auto;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;

    
}
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

a {
    color: #fff;
    text-decoration: none;
    border-radius: .25rem;
    background-color: #000;

    margin: .25rem;
    padding: .25rem;
}

.container {
    border: solid;
    border-radius: 10%;
    overflow: hidden;
    width: 15rem;
    height: 15rem;
    margin: 1rem;

    background-image: url("./placeholder.avif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    color: white;
}
.container > article {
    transition: top 1s;
    position: relative;
    height: inherit;
    top: 80%;

    background-color: #0008;

}
.container:hover > article {
    top: 0%;
}
.container > article > div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
